<!-- Validation failure messages -->
<% if @bookmark.errors.any? %>
  <% @bookmark.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Bookmark #<%= @bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_bookmark/<%= @bookmark.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for users_id -->
      <div class="form-group">
        <label for="users_id" class="control-label">
          Users
        </label>

        <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @bookmark.users_id), :class => "form-control") %>
      </div>

      <!-- Label and input for dishes_id -->
      <div class="form-group">
        <label for="dishes_id" class="control-label">
          Dishes
        </label>

        <%= select_tag(:dishes_id, options_from_collection_for_select(Dish.all, :id, :dish_name, @bookmark.dishes_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venues_id -->
      <div class="form-group">
        <label for="venues_id" class="control-label">
          Venues
        </label>

        <%= select_tag(:venues_id, options_from_collection_for_select(Venue.all, :id, :venue_name, @bookmark.venues_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Bookmark
      </button>
      or
      <a href="/bookmarks/<%= @bookmark.id %>">Cancel</a>
    </form>
  </div>
</div>
